/**
* Cadastro de usuarios
*
* Seções:
*   - Cadastro de usuario
*   - Complete seu cadastro
*/

#pagina-cadastro {

  #conteudo-pagina-cadastro {
    background: #853535 url(../../images/cadastro/bg-banner-topo.jpg) center bottom no-repeat;
    background-size: 100% auto;

    @media(max-width: $screen-md-max) {
      background-size: cover;
    }
  }

  .cadastro-usuario {
    margin-top: 3em;

    .campos-cadastro {
      border-right: 1px solid #FFF;

      @media(max-width: $screen-xs-max) {
        border: none;
      }

      @media(min-width: $screen-xs-max) {
        padding-top: 1em;
      }

      @media(min-width: $screen-sm-min) {
        padding-right: 3em;
      }

      .form-group {
        margin-bottom: 20px;
      }

      label, .help-block {
        color: #FFF !important;
      }

      .input-cadastro {
        padding: 20px 12px;

        &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
          font-style: italic;
        }
        &::-moz-placeholder { /* Firefox 19+ */
          font-style: italic;
        }
        &:-ms-input-placeholder { /* IE 10+ */
          font-style: italic;
        }
        &:-moz-placeholder { /* Firefox 18- */
          font-style: italic;
        }
      }

      .btn-efetuar-cadastro {
        margin-top: 1em;
        padding: 1.3em 1em;
      }
    }

    .acesso-redes-sociais {
      padding-top: 1em;

      @media(min-width: $screen-sm-min) {
        padding-left: 3em;
      }

      .descricao {
        line-height: 1.8em;
        margin-bottom: 1em;
        color: #FFF;

        @media(max-width: $screen-xs-max) {
          text-align: center;
        }
      }

      .btn-acesso-facebook {
        font-family: $raleway_bold;
        padding-left: 30px;
        border: none;
        padding: 1em 3em 1em 5em;
        background: #1d68b4;
        color: #FFF;

        @media(max-width: $screen-xs-max) {
          padding: 1em 1em 1em 4em;
        }

        .icone-facebook {
          position: absolute;
          width: 45px;
          height: 3.3em;
          margin: -1em 0 0 -5em;
          background: #F00;
          border-top-left-radius: 4px;
          border-bottom-left-radius: 4px;
          background: #1d61a5 url(../../images/icones/icone-facebook-acesso.png) center no-repeat;

          @media(max-width: $screen-xs-max) {
            margin: -1em 0 0 -4em;
          }
        }
      }
    }
  }
}

/**
* Pagina de completar cadastro
*/
.completar-cadastro-usuario {
  padding: 0 !important;

  .campos-cadastro {
    border: none !important;

    .bootstrap-select {
      .btn {
        padding: 10px 12px !important;
      }
    }
  }
}