.btn-full {
    width: 100%;
}

.titulo-secao {
    padding-bottom: 3em;

    .titulo {
        font-size: 1.5em;
    }

    .subtitulo {
        font-family: $raleway_light;
        font-size: 1em;
        color: #a4abae;
    }
}

.link-disabled {
    @include opacity(0.65);
}


/**
* Pesquisa principal de jurisprudencia do topo
*/
.pesquisa-jurisprudencia-topo {
    font-family: $raleway_medium;
    padding: 4em 0 7em 0;
    background: #613434 url(../../images/home/bg-banner-topo.jpg) center top no-repeat;
    background-size: cover;
    /*background-attachment: fixed;*/

    @media(max-width: $screen-xs-max) {
        padding: 1.5em 0 2em 0;
    }

    @media(min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
        padding: 2.5em 0 5em 0;
    }

    .titulo {
        font-family: $raleway_extra_bold;
        font-size: 4em;
        color: #FFF;

        @media(max-width: $screen-xs-max) {
            font-size: 2em;
        }

        @media(min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
            font-size: 3em;
        }
    }

    .subtitulo {
        font-family: $raleway_light;
        font-size: 1.75em;
        margin-top: 1.25em;
        color: #FFF;

        @media(max-width: $screen-xs-max) {
            font-size: 1.25em;
        }

        @media(min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
            font-size: 1.35em;
        }
    }
}

.opcoes-pesquisa-jurisprudencia {
    margin-top: 3.5em;

    label{
        color: #fff;
    }

    .item {

        @media(max-width: $screen-xs-max) {
            margin-bottom: 1.5em;
        }

        .btn {
            text-align: left !important;
            border-color: transparent;
            padding: 10px 12px;
            background: #9a2324;
            color: #FFF !important;

            &:focus {
                //outline-color: #999 !important;
                background: #9a2324;
            }
        }

        .bg-caret {
            padding-top: 10%;
            position: absolute;
            top: 0;
            right: 0;
            width: 36px;
            height: 100%;
            background: #a94445;

            @include border-top-right-radius(4px);
            @include border-bottom-right-radius(4px);

            @media(max-width: $screen-xs-max) {
                padding-top: 0;
            }

            .caret {
                position: absolute;
                top: 50%;
                right: 11px;
                width: 14px;
                height: 14px;
                border-top: 7px solid #FFF;
                border-left: 7px solid transparent;
                border-right: 7px  solid transparent;
            }
        }
    }
}

.input-texto-pesquisa-jurisprudencia {
    margin-top: 30px;

    .input-pesquisa {
        padding: 20px 12px;

        &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
            font-style: italic;
        }
        &::-moz-placeholder { /* Firefox 19+ */
            font-style: italic;
        }
        &:-ms-input-placeholder { /* IE 10+ */
            font-style: italic;
        }
        &:-moz-placeholder { /* Firefox 18- */
            font-style: italic;
        }
    }

    .submit-pesquisa {
        padding: 10px 12px;
    }

    .opcoes-pesquisa {
        font-family: $raleway_light;
        padding-top: 1em;
        color: #FFF;

        .descricao-opcoes-pesquisa {
            margin-left: 1em;
        }

        .item {
            margin-left: 1.5em;

            input {
                margin-right: 0.5em;
            }
        }
    }
}


/**
* Sidebar de pesquisa com menu accordeon
*/
#sidebar-categorias {
    padding-top: 1em;
    padding-bottom: 2em;

    .titulo-sidebar {
        font-size: 2.10em;
        font-family: $raleway_bold;
        margin-top: 0;
        padding-left: 15px;
    }

    #sidebar-menu-categorias {
        font-family: $raleway_semi_bold;

        .panel {
            margin-top: 0;
            margin-bottom: 0;
        }

        ul {
            width:100%;
            float: left;
            padding-left: 25px;
        }

        li {
            float: left;
            width: 100%;
            list-style: none;
            border-bottom: 1px solid #EDEDED;

            &:last-child {
                border-bottom: none;
            }

        }

        a {
            float: left;
            width: 100%;
            height: auto;
            padding: 10px 15px !important;
            color: #6a6a6a;

            &[aria-expanded="true"] {
                background: #f2f2f2;
            }

            &.active-link {
                color: #9a2324 !important;
            }

            .caret {
                border-top: 6px dashed #9a2324;
                border-right: 6px solid transparent;
                border-left: 6px solid transparent;
                margin-left: 8px;
            }

            &:focus {
                text-decoration: none;
            }
        }
    }

    #ads-sidebar {
        @media(max-width: $screen-xs-max) {
            text-align: center;
        }

        img {
            width: auto;
            max-width: 100%;
            margin-top: 2em;
        }
    }
}


/**
* Resultado de uma pesquisa de jurisprudencia
* Resultados tanto para filtro de pesquisa quanto por categorias
*/
#resultados-pesquisa {

    @media(max-width: $screen-xs-max) {
        margin-top: 3em;
    }

    .titulo-resultado-pesquisa {
        font-family: $raleway_bold;
        margin-top: 0;
        padding-bottom: 1em;

        @media(max-width: $screen-xs-max) {
            font-size: 1.5em;
            text-align: center;
        }

        strong {
            color: $brand-primary;
        }

        .txt-complemento-titulo {
            float: right;
            font-family: $raleway_medium;
            font-size: 14px !important;
            margin-top: 8px;
            color: #1f1f1f;

            @media(max-width: $screen-xs-max) {
                width: 100%;
                text-align: center;
            }

            @media(min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
                width: 100%;
                text-align: left;
            }
        }
    }

    .item {
        padding: 2.5em 0 2.5em 0;
        border-top: 1px solid #EDEDED;

        &:last-child {
            border-bottom: 1px solid #EDEDED;
        }

        @media(max-width: $screen-xs-max) {
            padding-top: 0.7em;
        }

        .titulo {
            font-size: 1.3em;
        }

        .categorias {
            font-family: $raleway_medium;
            font-size: 0.85em;
            margin: 1em 0 1em 0;

            a {

            }
        }

        .descricao {
            font-family: "Open Sans";
            font-size: 1em;
            line-height: 1.4em;
            color: #a4abae;
        }

        .btn-acoes {
            margin-top: 2em;

            .btn-ver-completo {
                padding: 0.7em 2em;

                @media(max-width: $screen-xs-max) {
                    width: 100%;
                    margin-bottom: 1em;
                }

            }

            .btn-adicionar-favoritos {
                padding: 0.7em 2em;

                @media(max-width: $screen-xs-max) {
                    width: 100%;
                }
            }
        }
    }
}

#paginacao-resultados-pesquisa {
    text-align: center;
    padding: 2em 0 5em 0;
    border-top: 1px solid #EDEDED;

    .pagination {

        li{
            &.active{

                a{
                    border-color: transparent;
                    background: #9a2324;
                    color: #FFF;
                }

            }
        }

        & > li > a,
        & > li > span
        {
            font-family: $raleway_bold;
            color: #848484;

            &:hover {
                border-color: #9a2324;
                background: #a94445;
                color: #FFFFFF;
            }

            &.active {
                border-color: transparent;
                background: #9a2324;
                color: #FFF;
            }

            @media(min-width: $screen-xs-max) {
                margin: 0 5px;
                padding: 3px 9px;
                border: none;
                border-bottom: 2px solid #ececec;
                background: #f6f6f6;

                @include border-radius(4px);
            }
        }
    }
}


/**
* Bloco para assinatura de newsletter
*/
#container-newsletter {
    padding: 5em 0;
    background: #6e2827;

    @media(max-width: $screen-sm-max) {
        padding: 3em 0;
    }

    .chamada-newsletter {
        color: #FFF;

        .titulo {
            font-family: $raleway_bold;
            font-size: 1.3em;
            margin-top: 0;
        }

        .descricao {
            font-family: $raleway_light;
            font-size: 0.9em;
            margin-top: 1.5em;
        }
    }

    .form-newsletter {
        margin-top: 1em;

        @media(max-width: $screen-xs-max) {
            margin-left: -15px;
        }

        @media(min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
            margin-top: 0;
        }

        .input-newsletter {
            width: 100%;

            &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
                font-family: $raleway_light;
            }
            &::-moz-placeholder { /* Firefox 19+ */
                font-family: $raleway_light;
            }
            &:-ms-input-placeholder { /* IE 10+ */
                font-family: $raleway_light;
            }
            &:-moz-placeholder { /* Firefox 18- */
                font-family: $raleway_light;
            }
        }

        .btn-assina-newsletter {
            padding: 7.5px 30px;

            @media(max-width: $screen-xs-max) {
                width: 100%;
                margin-right: -15px;
            }

            @media(min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
                float: right;
                margin-top: 15px;
            }
        }
    }
}


/**
* Bloco de listagem de artigos do blog
* Listagem padrao, apenas titulo, descricao e link de ver mais
*/
#listagem-ultimos-artigos-blog {
    padding: 3.5em 0;

    @media(max-width: $screen-xs-max) {
        padding-bottom: 0;
    }

    .item {

        @media(max-width: $screen-xs-max) {
            margin-bottom: 2.5em;
        }

        .titulo {
            font-size: 1.25em;
        }

        .descricao {
            font-family: 'Open Sans';
            color: #a4abae;
            margin-top: 1.5em;
        }

        .btn-ler-mais {
            font-family: $raleway_medium;
            margin-top: 1.5em;
            padding: 8px 20px;

            .seta-ler-mais {
                font-size: 0.8em;
                position: relative;
                top: -2px;
                padding-left: 5px;
            }
        }
    }
}


/**
* Listagem de materiais para download
*/
#materiais-download {
    padding: 3.5em 0;

    @media(max-width: $screen-xs-max) {
        padding: 0 0 2em 0;
    }

    @media(min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
        padding: 2em 0;
    }

    .tabela-download-materiais {
        color: #6a6a6a;

        thead {
            background: #f2f2f2;
        }

        td {
            font-size: 1em;
            padding: 0.55em 0;
        }

        tbody {
            font-family: $raleway_light;
            border-bottom: 1px solid #ddd;

            a {
                font-family: $raleway_semi_bold;
            }
        }

        @media(max-width: $screen-sm-max) {
            tr td {
                padding-left: 1em;
                padding-right: 1em;
            }
        }

        @media(min-width: $screen-xs-max) {
            tr td:first-child {
                padding-left: 1em;
            }
        }

        .icone-download {
            padding: 7px;
            margin: 3px 0 0 10px;
            background: transparent url(../../images/icones/icone-download-material.png) center no-repeat;
            background-size: 100% auto;
        }
    }
}


/**
* Bloco para upload de plano
* Modelo horizontal vazado
*/
#container-cta-upgrade-plano {
    margin-top: 5em;
    padding: 5em 0;
    background: #6e2827;

    @media(max-width: $screen-sm-max) {
        padding: 3em 0;
    }

    .chamada-upgrade-plano {
        color: #FFF;

        .titulo {
            font-family: $raleway_bold;
            font-size: 1.3em;
            margin-top: 0;
        }

        .descricao {
            font-family: $raleway_light;
            font-size: 0.9em;
            margin-top: 1.5em;
        }
    }

    .btn-upgrade-plano {
        border: none;
        margin: 0 0 0 6em;
        padding: 1.75em 4em;
        background: #9a2324;
        color: #FFF;

        @media(max-width: $screen-xs-max) {
            width: 100%;
            margin: 2.75em 0 0 0;
        }
    }
}

/**
* Modal padrao para o site
*/
.modal-dialog {
    z-index: 9999999999;

    .close {
        span {
            font-size: 2em;
            float: right;
            margin-top: -0.3em;
        }
    }

    .modal-title {
        font-family: $raleway_bold;
        text-align: center;
        font-size: 2em;
        margin-top: 1em;
    }

    .modal-header {
        border: none;
    }

    .modal-body {
        text-align: center;
        padding-bottom: 3em;
    }

    .modal-footer {
        border: none;
    }
}


.btn-dourado{
    background: $dourado;
    border-color: $dourado;
    color: #fff;

    &:hover{
        background: $douradoHover;
        border-color: $douradoHover;
        color: #fff;
    }
}