#pagina-contato {

	#conteudo-pagina-contato {

		.pesquisa-jurisprudencia-topo {
			//padding: 2em 0 4em 0;
		}


		.subtitulo {
			a {
				color: #FFF;
				text-decoration: underline;
			}
		}
	}

	#descricao-contato {
		padding: 3em 0;

		.dados-contato {
			@media(min-width: $screen-md-min) {
				padding-left: 2em;
			}

			img {
				width: auto;
				max-width: 100%;
			}

			.item {
				margin-bottom: 2em;
			}

			.titulo {
				font-family: $raleway_bold;
			}
		}
	}
}