#pagina-detalhes-julgado {

	.btn-chamada-filtro-topo,
	.btn-fechar-filtro-topo {
		white-space: normal;
		padding: 1em;

		@include border-radius(0px);
	}

	.btn-fechar-filtro-topo {
		display: none;
		float: left;
		width: 100%;
	}

	.pesquisa-jurisprudencia-topo {
		display: none;
	}

	#conteudo-pagina-detalhes-julgado {
		margin-top: 3em;

		@media(max-width: $screen-xs-max) {
			margin-top: 1em;
		}

		#resultados-pesquisa {
			margin-top: 0;
		}

		.titulo-resultado-pesquisa {
			font-size: 1.15em;
			padding-bottom: 0.5em;

			@media(max-width: $screen-xs-max) {
				font-size: 1em;
				text-align: center;
				padding-bottom: 2.5em;
			}

			.txt-complemento-titulo {
				margin-top: 0;

				@media(max-width: $screen-sm-max) {
					margin-top: 1em;
				}
			}
		}

		.descricao-julgado {
			border: none;
			padding-top: 1em;

			.titulo {
				font-family: $raleway_bold;
				font-size: 2.10em;
				margin-top: 0;

				@media(max-width: $screen-xs-max) {
					font-size: 1.5em;
				}
			}

			.btn-acoes {
				margin-top: 2em;
				padding-bottom: 1.5em;
				border-bottom: 1px solid #EDEDED;

				@media(max-width: $screen-sm-max) {
					padding-bottom: 0em;
				}

				.btn {
					text-align: left !important;
					border-color: transparent;
					padding: 10px 12px;
					background: #9a2324;
					color: #FFF !important;

					@media(max-width: $screen-sm-max) {
						margin-bottom: 2em;
					}
				}

				.bg-caret {
					padding-top: 10%;
					position: absolute;
					top: 0;
					right: 0;
					width: 36px;
					height: 100%;
					background: #a94445;

					@include border-top-right-radius(4px);
					@include border-bottom-right-radius(4px);

					@media(max-width: $screen-xs-max) {
						padding-top: 0;
					}

					.caret {
						position: absolute;
						top: 50%;
						right: 11px;
						width: 14px;
						height: 100%;
						border-top: 7px solid #FFF;
						border-left: 7px solid transparent;
						border-right: 7px  solid transparent;
					}
				}

				.btn-copiar-conteudo {
					text-align: center !important;
				}

				.btn-adicionar-favoritos {
					text-align: center !important;
					border: 2px solid #9a2324;
					background: #FFF;
					color: #9a2324 !important;

					@include transition(0.25s all linear);

					@media(max-width: $screen-sm-max) {
						width: 100%;
						text-align: center !important;
					}

					&:hover {
						background: #9a2324;
						color: #FFF !important;

						@include transition(0.25s all linear);
					}
				}
			}

			.txt-descricao-julgado {
				font-family: $open_sans_medium;
				margin-top: 2em;
				color: #a4abae;

				h2, h3, h4, h5, h6 {
					font-family: $raleway_bold;
					color: #333;
				}

				p {
					margin-bottom: 1.5em;
				}
			}

			.container-btn-continuar-lendo {
				position: relative;
				padding-top: 6em;
				margin-top: -6em;
				background: transparent url(../../images/icones/bg-btn-continue-lendo.png) center top no-repeat;
				background-size: 100% auto;

				@media(max-width: $screen-xs-max) {
					padding-top: 2em;
					margin-top: -5em;
				}

				@media(min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
					padding-top: 3em;
					margin-top: -6em;
				}

				.btn-continuar-lendo {
					padding: 1.5em 0;
				}
			}
		}
	}
}