#pagina-download {

	.btn-chamada-filtro-topo,
	.btn-fechar-filtro-topo {
		white-space: normal;
		padding: 1em;

		@include border-radius(0px);
	}

	.btn-chamada-filtro-topo {
		display: none;
		float: left;
		width: 100%;
	}

	.pesquisa-jurisprudencia-topo {
		padding: 2em 0 2em 0;
		background-color: #6e2827;
		background-image: none;

		.opcoes-pesquisa-jurisprudencia {
			margin-top: 3em;

			.titulo {
				font-family: $raleway_medium;
				font-size: 1em;
			}

			.date {
				input[type="text"] {
					border-color: #9a2324;
					padding: 20px 12px;
					background-color: #9a2324;
					color: #FFF;

					&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
						color: #FFF;
					}
					&::-moz-placeholder { /* Firefox 19+ */
						color: #FFF;
					}
					&:-ms-input-placeholder { /* IE 10+ */
						color: #FFF;
					}
					&:-moz-placeholder { /* Firefox 18- */
						color: #FFF;
					}
				}

				.input-group-addon {
					border-color: #9a2324;
					background-color: #a94445;
					color: #FFF;
				}
			}
		}
	}


	#resumo-filtro-pesquisa {
		padding-top: 1.5em;
		padding-bottom: 1.5em;
		border-bottom: 1px solid #EDEDED;

		.data-titulo {
			font-family: $raleway_bold;
			font-size: 1.15em;
		}

		.separador {
			margin: 0 2em;

			@media(max-width: $screen-xs-max) {
				margin: 0 1em;
			}
		}
	}


	#resultado-pesquisa-materiais-download {
		padding: 2em 0 2.5em 0;

		.titulo-secao {
			padding-bottom: 2em;
		}

		.separador-subtitulo {
			margin: 0 1.75em;

			@media(max-width: $screen-xs-max) {
				margin: 0 1em;
			}
		}

		@media(max-width: $screen-sm-max) {
			padding: 2em 0;
		}

		.tabela-download-materiais {
			color: #6a6a6a;

			thead {
				background: #f2f2f2;
			}

			td {
				font-size: 1em;
				padding: 0.55em 0;
			}

			tbody {
				font-family: $raleway_light;
				border-bottom: 1px solid #ddd;

				a {
					font-family: $raleway_semi_bold;
				}
			}

			@media(max-width: $screen-sm-max) {
				tr td {
					padding-left: 1em;
					padding-right: 1em;
				}
			}

			@media(min-width: $screen-xs-max) {
				tr td:first-child {
					padding-left: 1em;
				}
			}

			.icone-download {
				padding: 7px;
				margin: 3px 0 0 10px;
				background: transparent url(../../images/icones/icone-download-material.png) center no-repeat;
				background-size: 100% auto;
			}
		}

		.qtd-materiais-encontrados {
			font-family: $raleway_medium;
			font-size: 14px !important;
			margin-top: 8px;
			color: #1f1f1f;

			@media(max-width: $screen-xs-max) {
				width: 100%;
				text-align: center;
			}

			@media(min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
				width: 100%;
				text-align: left;
			}
		}

		#paginacao-resultados-pesquisa {
			border: none;
			padding-bottom: 0;
		}
	}
}