#pagina-faq {

    #descricao-faq {
        padding: 5em 0;

        @media(max-width: $screen-xs-max) {
            padding: 2em 0;
        }

        .item {
            margin-bottom: 1.5em;

            .titulo {
                font-size: 1.5em;
                font-family: $raleway_bold;
            }

            .descricao {
                font-family: $open_sans_medium;
                color: #a4abae;
            }
        }
    }
}