@font-face {
  font-family: 'RalewayLight';
  src: url('../fonts/raleway/light/eot/Raleway-Light.eot'); /* IE9 Compat Modes */
  src: url('../fonts/raleway/light/eot/Raleway-Light.eot') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/raleway/light/woff/Raleway-Light.woff') format('woff'), /* Pretty Modern Browsers */
  url('../fonts/raleway/light/ttf/Raleway-Light.ttf')  format('truetype'), /* Safari, Android, iOS */
  url('../fonts/raleway/light/svg/Raleway-Light.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'RalewayMedium';
  src: url('../fonts/raleway/regular/eot/Raleway-Medium.eot'); /* IE9 Compat Modes */
  src: url('../fonts/raleway/regular/eot/Raleway-Medium.eot') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/raleway/regular/woff/Raleway-Medium.woff') format('woff'), /* Pretty Modern Browsers */
  url('../fonts/raleway/regular/ttf/Raleway-Medium.ttf')  format('truetype'), /* Safari, Android, iOS */
  url('../fonts/raleway/regular/svg/Raleway-Medium.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'RalewaySemiBold';
  src: url('../fonts/raleway/bold/eot/Raleway-SemiBold.eot'); /* IE9 Compat Modes */
  src: url('../fonts/raleway/bold/eot/Raleway-SemiBold.eot') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/raleway/bold/woff/Raleway-SemiBold.woff') format('woff'), /* Pretty Modern Browsers */
  url('../fonts/raleway/bold/ttf/Raleway-SemiBold.ttf')  format('truetype'), /* Safari, Android, iOS */
  url('../fonts/raleway/bold/svg/Raleway-SemiBold.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'RalewayBold';
  src: url('../fonts/raleway/bold/eot/Raleway-Bold.eot'); /* IE9 Compat Modes */
  src: url('../fonts/raleway/bold/eot/Raleway-Bold.eot') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/raleway/bold/woff/Raleway-Bold.woff') format('woff'), /* Pretty Modern Browsers */
  url('../fonts/raleway/bold/ttf/Raleway-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
  url('../fonts/raleway/bold/svg/Raleway-Bold.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'RalewayExtraBold';
  src: url('../fonts/raleway/bold/eot/Raleway-ExtraBold.eot'); /* IE9 Compat Modes */
  src: url('../fonts/raleway/bold/eot/Raleway-ExtraBold.eot') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/raleway/bold/woff/Raleway-ExtraBold.woff') format('woff'), /* Pretty Modern Browsers */
  url('../fonts/raleway/bold/ttf/Raleway-ExtraBold.ttf')  format('truetype'), /* Safari, Android, iOS */
  url('../fonts/raleway/bold/svg/Raleway-ExtraBold.svg#svgFontName') format('svg'); /* Legacy iOS */
}

$raleway_light: 'RalewayLight';
$raleway_medium: 'RalewayMedium';
$raleway_semi_bold: 'RalewaySemiBold';
$raleway_bold: 'RalewayBold';
$raleway_extra_bold: 'RalewayExtraBold';
$open_sans_medium: "Open Sans";