/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 14/12/2015, 13:47:52
    Author     : hcferreira
*/


#footer {
    border-top: 1px solid #eceff1;
    padding: 2em 0;
    color: #bac3c7;

    .copyright {

        @media(max-width: $screen-xs-max) {
            text-align: center;
        }
    }

    .menu-rodape {

        @media(max-width: $screen-xs-max) {
            margin: 1.5em 0;
        }

        a {
            padding: 0 0.45em;
            color: #bac3c7;
        }
    }

    .redes-sociais-desenvolvedor {

        .redes-sociais {

            @media(max-width: $screen-sm-max) {
                text-align: center;
            }

            @media(min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
                margin-top: 2em;
            }

            img {
                margin: 0 1em;
            }
        }
    }

    .desenvolvedores {
        text-align: right;

        @media(max-width: $screen-sm-max) {
            text-align: center;
            margin-top: 2em;
        }

    }
   
}