#menu-topo {

    .navbar {
        margin-bottom: 0;
        padding: 15px 0;
        background-color: #FFF;
        border-color: #FFF;
        border-bottom: 1px solid #DDD;
    }

    .navbar-collapse {
        @media(max-width: $screen-xs-max) {
            margin-top: 1em;
        }
    }

    .navbar-header {
        @media(min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
            width: 100%;
        }
    }
    
    .navbar-brand {
        height: auto;
        padding: 0px;

        @media(max-width: $screen-xs-max) {
            img {
                width: 80% !important;
            }
        }

        @media(min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
            position: relative;
            left: 50%;

            img {
                position: relative;
                left: -50%;
            }
        }
    }

    .navbar-nav {
        @media(min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
            float:none !important;
            display: table !important;
            table-layout: fixed !important;
            margin: 0 auto !important;
            padding-top: 30px;
        }

        li > a {
            padding-top: 23px;
        }

        .dropdown-menu {



            > li a {
                padding-top: 8px;
                padding-bottom: 8px;
            }

            .active a {
                background: #FFF;
            }
        }

        p {
            margin-top: 17px;
        }

        .active > a {
            color: #9a2324;
        }
    }

    .navbar-btn {
        @media(max-width: $screen-xs-max) {
            padding-left: 10px;
        }
    }

    hr{
        margin:0;
    }

}