#pagina-inicial {

    #conteudo-pagina-inicial {
        padding: 4em 0 0 0;

        @media(max-width: $screen-xs-max) {
            padding: 0 0 0 0;
        }

        #sidebar-categorias {
            padding-top: 0;
        }
    }

}
