#pagina-login {

  #conteudo-pagina-login {

    .subtitulo a {
      text-decoration: underline;
      color: #FFF !important;
    }
  }

  .txt-alternativa-login {
    font-family: $raleway_light;
    text-align: center;
    font-size: 0.8em;
    margin-bottom: 2em;
    color: #FFF;
  }

  .login-usuario {
    margin-top: 3em;

    .campos-login {

      @media(max-width: $screen-xs-max) {
        border: none;
      }

      @media(min-width: $screen-xs-max) {
        padding-top: 1em;
      }

      @media(min-width: $screen-sm-min) {
        padding-right: 3em;
      }

      label {
        color: #FFF;
      }

      .form-group {
        margin-bottom: 20px;
      }

      .input-login {
        padding: 20px 12px;

        &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
          font-style: italic;
        }
        &::-moz-placeholder { /* Firefox 19+ */
          font-style: italic;
        }
        &:-ms-input-placeholder { /* IE 10+ */
          font-style: italic;
        }
        &:-moz-placeholder { /* Firefox 18- */
          font-style: italic;
        }
      }

      .btn-efetuar-login {
        padding: 1.3em 1em;
      }

      .links-complemento-login {
        font-family: $open_sans_medium;
        font-weight: 200;
        padding: 0 1em;

        @media(max-width: $screen-xs-max) {
          text-align: center !important;
        }

        @media(min-width: $screen-md-min) {
          font-size: 0.85em;
        }

        a {
          color: #FFF;
        }

        .link-cadastro {
          text-align: right;

          @media(max-width: $screen-xs-max) {
            text-align: center !important;
            margin-top: 1em;
          }
        }
      }
    }

    .acesso-redes-sociais {
      margin-bottom: 1.5em;

      .descricao {
        line-height: 1.8em;
        margin-bottom: 1em;
        color: #FFF;

        @media(max-width: $screen-xs-max) {
          text-align: center;
        }
      }

      .btn-acesso-facebook {
        font-family: $raleway_bold;
        border: none;
        padding: 1em 3em 0em 5em;
        background: #1d68b4;
        color: #FFF;

        @media(max-width: $screen-xs-max) {
          padding: 1em 1em 0em 4em;
        }

        .icone-facebook {
          position: relative;
          top: 0;
          left: 0;
          float: left;
          width: 45px;
          height: 3.3em;
          margin: -1em 0 0 -5em;
          background: #F00;
          border-top-left-radius: 4px;
          border-bottom-left-radius: 4px;
          background: #1d61a5 url(../../images/icones/icone-facebook-acesso.png) center no-repeat;

          @media(max-width: $screen-xs-max) {
            margin: -1em 0 0 -4em;
          }
        }
      }
    }
  }

}