#pagina-sobre {

    .pesquisa-jurisprudencia-topo {
        background-image: url(../../images/sobre/bg-banner-topo.jpg);

        .subtitulo {
            line-height: 1.5em;
        }
    }

    #descricao-historia {
        padding: 4em 0;

        .txt-descricao-historia {
            h2, h3, h4, h5, h6 {
                font-family: $raleway_bold;
                margin-bottom: 1em;
            }

            p {
                font-family: 'Open Sans';
                color: #a4abae;
                margin-bottom: 1.5em;
            }
        }

        .imagem-destaque-sobre {
            margin-top: 8em;

            @media(max-width: $screen-xs-max) {
                margin-top: 2em;
            }

            @media(min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
                margin-top: 6em;
            }

            img {
                width: auto;
                max-width: 100%;
            }
        }
    }


    #sobre-numeros-relevantes {
        padding: 4em 0;
        background: #452d2c url(../../images/sobre/bg-numeros-relevantes.jpg) center center no-repeat;
        background-size: cover;
        color: #FFF;

        .chamada-numeros-relevantes {
            margin-bottom: 4em;

            .titulo {
                font-family: $raleway_bold;
                margin-top: 0;
            }

            .subtitulo {
                font-size: 1.25em;
            }
        }

        .item {

            @media(max-width: $screen-xs-max) {
                margin-bottom: 3em;
            }

            .numero {
                font-family: $raleway_bold;
                font-size: 2.5em;
            }

            .descricao {
                margin-top: 1em;
            }
        }
    }


    #missao-visao-valores {
        padding: 5em 0;

        .item {
            @media(max-width: $screen-xs-max) {
                margin-bottom: 3em;

                &:last-child {
                    margin-bottom: 0em;
                }
            }

            .titulo {
                font-family: $raleway_bold;
                margin-bottom: 1.75em;
            }

            .descricao {
                color: #a4abae;
                line-height: 1.75em;

                ul {
                    padding: 0;

                    li {
                        list-style: none;
                    }
                }
            }
        }
    }


    #sobre-depoimentos {
        padding: 1em 0 8em 0;

        .chamada-depoimentos {
            .titulo {
                font-family: $raleway_bold;
            }
            .subtitulo {
                font-size: 1.5em;
                color: #a4abae;
            }
        }

        .item .descricao-depoimento {
            min-height: 100px;
            text-align: center;
            font-family: $raleway_medium;
            font-size: 1.1em;
            line-height: 1.75em;
            margin-top: 3em;
            color: #a4abae;
        }

        /* Main carousel style */
        .carousel {

        }

        /* Indicators list style */
        .article-slide .carousel-indicators {
            position: relative;
            left: 0;
            bottom: 0;
            width: 100%;
            margin: 2em 0 0 0;
            text-align: center;
        }
        /* Indicators list style */
        .article-slide .carousel-indicators li {
            border: medium none;
            border-radius: 0;
            height: 15px;
            width: 15px;
            
            margin-left: 0;
            margin-left: 1.5em !important;
            margin-top: 0;
                        
            background: #ddd;
            
            &:first-child{
                margin-left: 0 !important;
            }
        }
        /* Indicators images style */
        .article-slide .carousel-indicators img {
            float: left;
            left: 0;
            width: auto;
            max-width: 100%;

            @include border-radius(100%);
        }
        /* Indicators active image style */
        .article-slide .carousel-indicators .active {
            
            margin-top: 0;
            background: $vermelho;
            
            img{
                border: 4px solid #9a2324;
                margin-top: -4px;
            }

        }
    }

}
