/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 31/12/2015, 19:24:16
    Author     : hcferreira
*/

body {
    background-color: #fff;
    font-family: $raleway_medium;
    color:#333;
    font-size: 15px;
}

#loading-template{
    display: none;
    position: fixed;    
    bottom: 0;
    left: 0;
    background: #E6E8EC url(loading.gif) no-repeat center;
    z-index:1020;
    height: 40px;
    line-height: 40px;
    padding-left: 50px;
    font-size: 1em;
    z-index: 99999;    
    text-align: center;
}



/* INICIO DA FORMATACAO DO LOADING DO TEMPLATE */

#page-loader{
    position:fixed;
    top:0;
    left:0;
    bottom:0;
    right:0;
    background:#E6E8EC;
    z-index:1020;
}
#page-loader.fade{
    display:none
}
#page-loader.fade.in{
    display:block
}
@-webkit-keyframes rotation{
    from{
        -webkit-transform:rotate(0deg)
    }to{
        -webkit-transform:rotate(359deg)
    }
}
@-moz-keyframes rotation{
    from{
        -moz-transform:rotate(0deg)
    }to{
        -moz-transform:rotate(359deg)
    }
}
@-o-keyframes rotation{
    from{
        -o-transform:rotate(0deg)
    }to{
        -o-transform:rotate(359deg)
    }
}
@keyframes rotation{
    from{
        transform:rotate(0deg)
    }to{
        transform:rotate(359deg)
    }
}

.spinner, .spinner-small{
    height:40px;
    width:40px;
    position:absolute;
    top:50%;
    left:50%;
    margin:-20px -20px 0 0;
    border:2px solid #fff;
    border-top: 2px solid #333; /* Cor do loading que fica girando*/
    border-radius:100%
}
.fade.in .spinner, .fade.in .spinner-small{
    -webkit-animation:rotation .6s infinite linear;
    -moz-animation:rotation .6s infinite linear;
    -o-animation:rotation .6s infinite linear;
    animation:rotation .6s infinite linear
}
.spinner-small{
    border:2px solid rgba(0,0,0,.05);
    border-top:2px solid #24B498;
    height:30px;
    width:30px;
    margin:-15px -15px 0 0;
}

/* FIM DA FORMATACAO DO LOADING DO TEMPLATE */



a{        
    -moz-transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;    
}

.pg-interna{
    min-height: 500px;
}