/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 14/12/2015, 15:38:35
    Author     : hcferreira
*/

$azul: #486279;
$vermelhoEscuro: #6E2827;
$vermelho: #9A2324;
$dourado: #9E772A;
$douradoHover: #7D5D20;